.rara-card-button {
  &.large {
    display: block;
    padding: 15px 40px 15px 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &::after {
      content: "»";
      color: var(--color-blue);
      opacity: 0;
      position: absolute;
      transition: opacity 0.3s, right 0.3s;
      right: 30px;
      top: 15px;
    }

    &:hover,
    &.active {
      color: var(--color-blue);
      background-color: var(--bg-color-3);
    }

    &:hover::after {
      opacity: 1;
      right: 20px;
    }
  }

  &.small {
    display: inline-block;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;

    &:hover,
    &.active {
      color: var(--color-blue);
      background-color: var(--bg-color-3);
    }
  }
}
