.card {
  background-color: var(--card-background-color);
  color: var(--font-color);
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: #0003 0 0 10px;

  @media only screen and (max-width: 1000px) {
    border-radius: 0;
    margin-bottom: 20px;
  }

  .card__content {
    margin: 20px 0;
    padding: 0 20px;
  }
}
