.rara-card {
  background-color: var(--card-background-color);
  color: var(--font-color);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: #0003 0 0 10px;

  @media only screen and (max-width: 768px) {
    border-radius: 0;
  }

  .rara-card-content {
    padding: 10px 20px 20px;
  }
}
