.rara-layout {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  gap: 20px;
  margin: 0 auto;
  width: min(calc(100% - 40px), 1300px);

  .rara-layout-left {
    width: 25%;
  }

  .rara-layout-main {
    flex: 1;
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    max-width: 100%;
    margin-top: 0;

    .rara-layout-left,
    .rara-layout-main {
      margin: 0;
    }

    .rara-layout-left {
      width: unset;
    }
  }
}
