.rara-layout {
  flex: 1;
  margin: 0 auto;
  width: min(calc(100% - 40px), 1300px);
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  gap: 20px;

  .rara-layout-left {
    width: 25%;
  }

  .rara-layout-main {
    flex: 1;

    // https://stackoverflow.com/questions/47820826/word-wrap-in-flexbox-is-not-respecting-100-width-limit
    min-width: 0;
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    max-width: 100%;
    margin-top: 0;

    .rara-layout-left,
    .rara-layout-main {
      margin: 0;
    }

    .rara-layout-left {
      width: unset;
    }
  }
}
