.rara-loading {
  text-align: center;

  .rara-loading-circle {
    width: 10px;
    height: 10px;
    background: var(--fg-color-2);
    border-radius: 50%;
    display: inline-block;
    animation: rara-loading-animation 1s ease-in-out;
    animation-iteration-count: infinite;
    margin: 0 5px;
  }
}

@keyframes rara-loading-animation {
  0%,
  100% {
    transform: translate(0);
  }
  50% {
    transform: translate(0, 5px);
  }
}
