.rara-author {
  text-align: center;
  margin: 25px 0 10px;

  .rara-author-avatar {
    display: block;
    height: 100px;
    width: 100px;
    margin: 0 auto;

    img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      box-shadow: 0 0 5px #333;
    }
  }

  .rara-author-title {
    display: block;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
  }

  .rara-author-subtitle {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .rara-author {
    display: none;
  }
}
