.rara-layout-header {
  height: 4em;
  background-color: var(--bg-color-2);
  color: var(--fg-color-1);
  box-shadow: #0003 0 0 10px;
  transition: background-color 0.3s, color 0.3s;

  .rara-layout-header-container {
    display: flex;
    height: 100%;
    width: min(calc(100% - 40px), 1300px);
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }

  .rara-layout-header-theme-switch {
    font-size: 1.5em;
    cursor: pointer;
    display: block;
    animation: {
      name: rara-spin-animation;
      duration: 5s;
      timing-function: linear;
      iteration-count: infinite;
    }
  }
}

@keyframes rara-spin-animation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
