.rara-post-header {
  padding: 20px 20px 0;

  .rara-post-header-placeholder {
    padding-bottom: 15%;
  }

  .rara-post-header-title {
    margin: 5px 0 10px;
    font-weight: bold;
  }

  .rara-post-header-meta-link {
    text-decoration: underline;
  }

  &:not(.rara-post-header-banner) {
    .rara-post-header-title {
      color: var(--fg-color-1);
    }
    .rara-post-header-meta {
      color: var(--fg-color-2);

      .rara-post-header-meta-link {
        transition: color 0.3s;

        &:hover {
          color: var(--color-blue);
        }
      }
    }
  }

  &.rara-post-header-banner {
    padding: 20px 20px 10px;
    color: white;
    text-shadow: #333 1px 0 1px, #333 -1px 0 1px, #333 0 1px 1px,
      #333 0 -1px 1px;
    background: {
      size: cover;
      position: center;
    }
  }
}
