.rara-reply {
  display: flex;
  flex-direction: row;
  gap: 15px;

  .rara-reply-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    place-items: center;
    font-size: 1.5em;
    color: var(--color-white);

    img {
      width: 100%;
      height: 100%;
    }
  }

  .rara-reply-main {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;

    .rara-reply-meta {
      .rara-reply-meta-nickname {
        font-weight: bold;
        color: var(--color-pink);

        &.link {
          text-decoration: underline;
        }
      }
    }

    .rara-reply-content {
      > :first-child {
        margin-top: 0;
      }

      > :last-child {
        margin-bottom: 0;
      }
    }

    .rara-reply-actions {
      display: flex;
      gap: 10px;
      font-size: 0.75em;
      color: var(--fg-color-2);

      .rara-reply-action-reply {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .rara-reply-comments {
    }
  }
}

.rara-reply-make-reply {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
  row-gap: 5px;
}
