.author {
  text-align: center;
  margin: 25px 0;

  .author__avatar {
    height: 100px;
    width: 100px;
    margin: 0 auto;

    img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      box-shadow: 0 0 5px #333;
    }
  }

  .author__title {
    margin-top: 20px;
    font-size: 1.5em;

    a {
      color: var(--color-blue);
      text-decoration: none;
    }
  }

  .author__subtitle {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  .author {
    display: none;
  }
}
